/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  margin:0;
}
:root{
    --achtergrondkleur:rgba(0,0,0,0.80);
    --onzichtbaar:rgba(0,0,0,0):
}

button:not([disabled]) {
  cursor:pointer;
}

@font-face {
  font-family: 'downtown';
  src: url('../fonts/vtksdowntown/vtksdowntown-lomw-webfont.woff2') format('woff2'),
  url('../fonts/vtksdowntown-lomw-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/* start */
 body.hoofdmenu{
  background-image: url(../images/kamer/achtergrond.png);
  background-color: var(--achtergrondkleur);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center bottom;
}

/* header */
header{
  text-align: center;
}

header img{
width: 25em;
padding-top: 3em;
}

header p{
  width: 10em;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 20em;

  color: black;
  font-size: larger;
  font-family:'downtown', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
/* ************ */
/* albumlijst */
/* ************ */

ul{ 
  position: absolute;
  left:calc(50% - 18em);
  bottom:5vh;
  width:36em;
  aspect-ratio:650/400;
  padding:.5em 1em;

  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:auto auto;
  gap: 1em .5em;
  justify-content: center;

  background-image: url(../images/kamer/vinylkast.png);
  background-repeat:no-repeat;
  background-size: cover;
}
ul li{
  /* dit zorgt ervoor dat de bass voor de ul blijft zonder dat het de li elemente verstoort */
  z-index: 3;
}

li{
  padding-bottom:.5em;

  display:grid;
  justify-items: center;
  align-items: end;
  z-index: 3;

  list-style-type:none;
  perspective: 10em;
  transform-style: preserve-3d;
}

li button{
  display:inline-block;

  background-color: var(--onzichtbaar);
  border: none;
  
  transition:0.3s;
}


li button img {
  width: 7em;
  display:block;
  transition: .3s; 
}

/* Perspectief */
li:nth-child(-n+4) button{
  transform-origin:center bottom;
  transform:rotateX(30deg);
}

li:nth-child(n+5) button{
  transform-origin:center bottom;
  transform:rotateX(20deg);
}

li:nth-child(-n+4) button:hover {
 transform:rotateX(10deg);
}
li:nth-child(n+5) button:hover {
  transform:rotateX(10deg);
 }

li:nth-of-type(1) button:hover img{
  box-shadow:.5em .3em 0.5em rgb(0 0 0 / .5);
}
li:nth-of-type(2) button:hover img{
  box-shadow:.2em .3em 0.5em rgb(0 0 0 / .5);
}
li:nth-of-type(3) button:hover img{
  box-shadow:-.2em .3em 0.5em rgb(0 0 0 / .5);
}
li:nth-of-type(4) button:hover img{
  box-shadow:-.5em .3em 0.5em rgb(0 0 0 / .5);
}
li:nth-of-type(5) button:hover img{
  box-shadow:.5em .3em 0.5em rgb(0 0 0 / .5);
}
li:nth-of-type(6) button:hover img{
  box-shadow:.2em .3em 0.5em rgb(0 0 0 / .5);
}
li:nth-of-type(7) button:hover img{
  box-shadow:-.2em .3em 0.5em rgb(0 0 0 / .5);
}

li button img:active{
  transform: scale(1.2) rotateX(10deg);
  perspective-origin: 100% center;
  transform-origin:center bottom;
}

li:nth-of-type(1) {
  perspective-origin: 100% center;
}
li:nth-of-type(2) {
  perspective-origin: 75% center;
}
li:nth-of-type(3) {
  perspective-origin: 25% center;
}
li:nth-of-type(4) {
  perspective-origin: 0% center;
}
li:nth-of-type(5) {
  perspective-origin: 100% center;
}
li:nth-of-type(6) {
  perspective-origin: 75% center;
}
li:nth-of-type(7) {
  perspective-origin: 25% center;
}

/* tekst voor hover effect */
.hovertekst{
  position: absolute;
  justify-content: center;
  bottom:5em;
  z-index:-4;
  
  font-size: .8em;
  opacity: 0%;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgba(255,255,255,0.80);
  text-shadow:.07em .07em .07em rgba(0, 0, 0, 0.75);

  transition: 0.5s;

  pointer-events: none;
}

li button:hover + .hovertekst { 
  bottom:6em;
  opacity: 100%;  
  transition: 0.5s;
  font-size: 1em;

}

/* ************ */
/* el diablo */
/* ************ */
.bassbutton{
  position: absolute;
  left:calc(50% - 37em);
  bottom:7vh;
  z-index:2;
  
  background-color: var(--onzichtbaar);
  border: none;
}

#diablo{
  width: 15em;
  padding: 32em;
  transform: rotate(18deg);
  padding:.5em 1em;

  transform-origin: bottom;  
  justify-content: center;
  transition:0.3s
}

#diablo:hover{
  transform: rotate(15deg);
  transition:0.3s;
}

/* **************** */
/* informatie album*/
/* **************** */

.achtergrondvideo video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;

  animation-name:zichtbaar;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.achtergrondkleur{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  z-index: -2;
  background-color:rgba(35,35,35) ;

  animation-name:zichtbaar-kleur;
  transition: 0.5s;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 100%;
}

.informatie{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 50em;
  max-height: 100vh;
  padding: 1em;
  z-index: 2;

  background: radial-gradient(circle, rgba(0,0,0,0.6) 25%, rgba(184,184,184,0) 60%);
  
  color: white;
  text-align: center;
  font-size: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5em;

  animation-name:zichtbaar;
  animation-delay: 6s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0%;
}
.informatie p{
  font-size: 1.2em;
}

.informatie h1{
  font-size: 4em;
}

section.vinyl{
  display: flex;
  justify-content: center;
  align-items: center;
  left:50%;
  top:50%;
  position: absolute;  
}

img.vinyl{
  max-width: 15em;
  position: absolute;

  animation-name: draaien, draaien;
  animation-duration:5s, 5s;
  animation-delay: 3s, 8s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: cubic-bezier(0.230, -0.005, 1.000, 1.000), linear;
}

img.albumhoes{
  max-width: 16em;
  position: absolute;
  z-index: 1;

  animation-name: albumweg;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.520, -0.210, 0.275, 0.870);
}

.sluitknop{
  position: fixed;
  left: 8%;
  top: 8%;
  padding:1em;
  z-index: 2;

  background-color: rgba(0,0,0,0);
  border: solid;
  border-color: rgba(150,150,150,0);
  border-radius: 4em;
  transform: rotate(15deg);
  transition: 0.5s;

  animation-name:zichtbaar;
  animation-delay: 6s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0%;
}
.sluitknop img{
  width: 3em;
}

button.sluitknop:hover{
  transition: 0.5s;
  border: solid; 
  border-color: rgba(150,150,150, 0.5);
}

button.sluitknop:active{
  transition: 0.5s;
  transform: rotate(-15deg);
}

/* text vormgeving albums */

.gorillazalbum p{
  text-shadow: .08em .08em rgb(18, 94, 34);
}
.gorillazalbum h1{
  text-shadow: .04em .04em  rgba(192, 18, 18), 
  -.02em -.02em  rgba(24, 134, 46);
} 

.demonalbum p{
  text-shadow: .08em .08em rgb(0, 50, 149);
}
.demonalbum h1{
  text-shadow: .04em .04em rgb(200, 27, 27), 
  -.02em -.02em  rgb(57, 67, 133);
} 

.plasticalbum p{
  text-shadow: .08em .08em  rgb(190, 62, 2);
}
.plasticalbum h1{
  text-shadow: .04em .04em rgb(159, 74, 0), 
  -.02em -.02em rgb(255, 80, 127);
} 

.fallalbum p{
  text-shadow: .08em .08em rgb(236, 65, 65);
}
.fallalbum h1{
  text-shadow: .04em .04em rgb(23, 141, 196), 
  -.02em -.02em  rgb(118, 43, 43);
} 

.humanzalbum p{
  text-shadow: .08em .08em rgb(173, 5, 64);
}
.humanzalbum h1{
  text-shadow: .04em .04em rgb(56, 17, 118), 
  -.02em -.02em  rgb(251, 90, 157);
}

.nowalbum p{
  text-shadow: .08em .08em rgb(200, 37, 118);
}
.nowalbum h1{
  text-shadow: .04em .04em rgb(16, 152, 211), 
  -.02em -.02em rgb(200, 37, 118);
}

.songalbum p{
  text-shadow: .08em .08em rgb(236, 83, 0);
}
.songalbum h1{
  text-shadow: .04em .04em rgb(15, 174, 121), 
  -.02em -.02em rgb(69, 230, 255);
}

/* **************** */
/* animaties */
/* **************** */

@keyframes draaien {
  0% {
      transform:rotate(0deg);
  }

  100% {
      transform:rotate(360deg);
  }
}

@keyframes zichtbaar {
  0% {
      opacity: 0%;
  }

  100% {
    opacity: 100%;
    ;
  }
}

@keyframes zichtbaar-kleur {
  0% {
      opacity: 100%;
  }

  100% {
    opacity: 80%;
    ;
  }
}


@keyframes albumweg{  
  0% {
      opacity: 100%;
  }
  20%{
    transform: translatey(3em)
  }
  40%{
    transform: rotatey(10deg) rotatez(10deg) translatey(4em);
  }
  60%{
    transform: rotatey(-10deg) rotatez(-10deg) translatey(5em);
  }
  75% {
    transform: rotatey(0deg) rotatez(0deg) translatey(6em);
    opacity:100% 
  }
  100% {
    opacity: 0%;
    transform: translatey(10em)
    ;
  }
}

@keyframes spelen{
  0%{
    transform: rotate(3deg);
  }
  10%{ 
    transform: rotate(-3deg);
  }
  20%{ 
    transform: rotate(3deg);
  }
  30%{ 
    transform: rotate(-3deg);
  }
  40%{
    transform: rotate(3deg);
  }
  50%{ 
    transform: rotate(-3deg);
  }
  60%{
    transform: rotate(3deg);
  }
  70%{ 
    transform: rotate(-3deg);
  }
  80%{
    transform: rotate(3deg);
  }
  90%{ 
    transform: rotate(-3deg);
  }
  100%{
    transform: rotate(3deg);
  }
}

/**************/
/* JAVASCRIPT */
/**************/

/* bassspelen */
.muziekspelen .bassbutton{
  animation-name:spelen;
  animation-duration: 6s;
  animation-timing-function: auto;
  transition: 0.3s;
  transform-origin: bottom;
}

/* gorillazovergang*/
article.gorillazalbum{
  display:none;
}
.gorillazovergang article.gorillazalbum{  
  display:block;
  animation-name: zichtbaar;
  transition: 1s;
  animation-duration: 0.3s;
}
.gorillazovergang ul{
  display:none;
}
.gorillazovergang header {
  display:none;  
}
.gorillazovergang .bassbutton {
  display:none;  
}

/* demonovergang */
article.demonalbum{
  display:none;
}

.demonovergang article.demonalbum{  
  display:block;
  animation-name: zichtbaar;
  transition: 1s;
  animation-duration: 0.3s;
}
.demonovergang ul {
  display:none
}
.demonovergang header {
  display:none
}
.demonovergang .bassbutton{
  display:none;  
}

/* plasticovergang */
article.plasticalbum{
  display:none;
}
.plasticovergang article.plasticalbum{  
  display:block;
  animation-name: zichtbaar;
  transition: 1s;
  animation-duration: 0.3s;
}
.plasticovergang ul{
  display:none;
}
.plasticovergang header {
  display:none;  
}
.plasticovergang .bassbutton {
  display:none;  
}

/* fallovergang */
article.fallalbum{
  display:none;
}
.fallovergang article.fallalbum{  
  display:block;
  animation-name: zichtbaar;
  transition: 1s;
  animation-duration: 0.3s;
}
.fallovergang ul{
  display:none;
}
.fallovergang header {
  display:none;  
}
.fallovergang .bassbutton {
  display:none;  
}

/* humanzovergang */
article.humanzalbum{
  display:none;
}
.humanzovergang article.humanzalbum{  
  display:block;
  animation-name: zichtbaar;
  transition: 1s;
  animation-duration: 0.3s;
}
.humanzovergang ul{
  display:none;
}
.humanzovergang header {
  display:none;  
}
.humanzovergang .bassbutton {
  display:none;  
}

/* nowovergang */
article.nowalbum{
  display:none;
}
.nowovergang article.nowalbum{  
  display:block;
  animation-name: zichtbaar;
  transition: 1s;
  animation-duration: 0.3s;
}
.nowovergang ul{
  display:none;
}
.nowovergang header {
  display:none;  
}
.nowovergang .bassbutton {
  display:none;  
}

/* songovergang */
article.songalbum{
  display:none;
}
.songovergang article.songalbum{  
  display:block;
  animation-name: zichtbaar;
  transition: 1s;
  animation-duration: 0.3s;
}
.songovergang ul{
  display:none;
}
.songovergang header {
  display:none;  
}
.songovergang .bassbutton {
  display:none;  
}



